[submodule "www/js/blocks"]
	path = www/js/blocks
	url = git@github.com:jiggliemon/blocks.git
[submodule "www/js/cajon"]
	path = www/js/cajon
	url = https://github.com/requirejs/cajon.git
[submodule "www/js/yaul"]
	path = www/js/yaul
	url = git@github.com:jiggliemon/yaul.git
[submodule "www/js/yate"]
	path = www/js/yate
	url = git@github.com:jiggliemon/yate.git
[submodule "www/js/yeah"]
	path = www/js/yeah
	url = git@github.com:jiggliemon/yeah.git
[submodule "www/js/elements"]
	path = www/js/elements
	url = https://github.com/arian/elements.git
[submodule "www/js/lodash"]
	path = www/js/lodash
	url = https://github.com/bestiejs/lodash.git
[submodule "www/js/parsed"]
	path = www/js/parsed
	url = git@github.com:jiggliemon/parsed.git
[submodule "www/js/http"]
	path = www/js/http
	url = https://github.com/substack/http-browserify.git
