.countdown-wrapper {
  background: #333;
  color: yellow;
  font: 30px/30px monospace;
  text-align: center;
}

.countdown-wrapper .countdown-inner {}

.countdown-wrapper .digit-wrapper {
  display: inline-block;
}
.countdown-wrapper .digit-wrapper .digit-inner {

}
.countdown-wrapper .digit-wrapper label {display: none;}
.countdown-wrapper .digit-wrapper span {
  display: block;
  padding: 10px;
  
}

.countdown-wrapper .days-wrapper {}
.countdown-wrapper .hours-wrapper {}
.countdown-wrapper .minutes-wrapper {}
.countdown-wrapper .seconds-wrapper {}

.countdown-wrapper .seperator-wrapper {
  display: inline-block;
  vertical-align: top;
}
.countdown-wrapper .seperator-wrapper .seperator-inner {}
.countdown-wrapper .seperator-wrapper .seperator {
  display: block;
  height: 50px;
  text-indent: -5000em;
  border-right: 1px #444 solid;
  border-left: 1px #222 solid;
}