<div class="global-wrapper">
  <div class="global-inner">

    <div class="header-wrapper">
      <div class="header-inner">
        <b name="header"></b>
      </div>
    </div>
  
    <div class="body-wrapper">
      <div class="body-inner container">
        <div class="row">
          <aside class="left-wrapper span3">
            <div class="left-inner">
              <b name="left"></b>
            </div>
          </aside>

          <section class="main-wrapper span9">
            <div class="main-inner">
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="footer-wrapper">
      <div class="footer-inner">
        <b name="footer">
        <!-- Footer block content will be placed here -->
        </b>
      </div>
    </div>

  </div>
</div>