<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./index.html" bind="brand">Blocks.js</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active">
            <a href="#examples">Examples</a>
          </li>

          <li>
            <a href="#docs">Docs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>