<form class="well" bind="create-item">
  <div class="field input-append">
    <input class="span2" id="add-item" bind="add-item" type="text">
    <button class="btn" bind="submit">Add</button>
  </div>
</form>