<form class="well" bind="create-item">
  <div class="field input-append">
    <label for="add-item-<%=id %>"><%=create_a_task%></label>
    <input class="span2 add-item" id="add-item-<%=id %>" name="add-item-<%=id %>" bind="add-item" type="text">
    <button class="btn" bind="submit">Add</button>
  </div>
</form>